window.play cluelist list {
    background: transparent;
}

window.play row button {
    opacity:0.0;
}

window.play row:hover button {
    opacity:1.0;
}

window.play row:focus button {
    opacity:1.0;
}

/* Clues */
window.play cluelist list row {
    border-radius: 6px;
}

window.play cluelist list row:selected {
    background-color: @yellow_2;
}

window.play cluelist list row label.guessed#clue-label {
    color: @dark_1;
    text-decoration: line-through;
}

window.play cluelist list row label.guessed#num-label {
    color: @dark_1;
}

window.play cluelist list row clue-row.guessed-error label.guessed#num-label {
    color: @red_3;
}

window.play cluelist list row clue-row.guessed-error label.guessed#clue-label {
    color: @red_3;
    text-decoration: line-through;
}


/* Extra Small Zoom */
window.play cluelist header.zoom-xsmall {
    font-size: 12pt;
    font-weight: bold;
}
window.play cluelist list label.zoom-xsmall  {
    font-size: 12px;
}

window.play cluelist list row .zoom-xsmall {
    padding: 1px 2px;
}
label.caption-zoom-xsmall {
  font-weight: 400;
  font-size: 8pt;
  font-style: italic;
}
clue-row.standalone label.zoom-xsmall {
  font-weight: 700;
  font-size: 10pt;
}

/* Small Zoom */
window.play cluelist header.zoom-small {
    font-size: 12pt;
    font-weight: bold;
}
window.play cluelist list label.zoom-small  {
    font-size: 12px;
}
window.play cluelist list row .zoom-small {
    padding: 1px 2px;
}
label.caption-zoom-small {
  font-weight: 400;
  font-size: 9pt;
  font-style: italic;
}
clue-row.standalone label.zoom-small {
  font-weight: 700;
  font-size: 11pt;
}

/* Normal Zoom */
window.play cluelist header.zoom-normal {
    font-size: 12pt;
    font-weight: bold;
}
window.play cluelist list row label.zoom-normal {
    font-size: 12pt;
}
window.play cluelist list row .zoom-normal {
    padding: 2px 4px;
}
label.caption-zoom-normal {
  font-weight: 400;
  font-size: 10pt;
  font-style: italic;
}
clue-row.standalone label.zoom-normal {
  font-weight: 700;
  font-size: 14pt;
}

/* Large Zoom */
window.play cluelist header.zoom-large {
    font-size: 18pt;
    font-weight: bold;
}
window.play cluelist list row label.zoom-large {
    font-size: 16pt;
}
window.play cluelist list row .zoom-large {
    padding: 3px 6px;
}
label.caption-zoom-large {
  font-weight: 400;
  font-size: 14pt;
  font-style: italic;
}
clue-row.standalone label.zoom-large {
  font-weight: 700;
  font-size: 18pt;
}

/* Extra Large Zoom */
window.play cluelist header.zoom-xlarge {
    font-size: 22pt;
    font-weight: bold;
}
window.play cluelist list row label.zoom-xlarge {
    font-size: 20pt;
}
window.play cluelist list row .zoom-xlarge {
    padding: 3px 6px;
}
label.caption-zoom-xlarge {
  font-weight: 400;
  font-size: 16pt;
  font-style: italic;
}
clue-row.standalone label.zoom-xlarge {
  font-weight: 700;
  font-size: 24pt;
}


row.puzzle-won label.subtitle {
    color: @accent_color;
}


/* The Play Grid */
play-border             { color: @light_4; }
play-border.dark        { color: @dark_3; }
play-border.selected    { color: @yellow_4; }
play-border.highlighted { color: @orange_2; }
play-border.initial-val { color: @light_5; }
play-border.focused     { color: @blue_4; }
play-cell label         { color: @dark_3; }
play-cell.normal        { background-color: @light_1; }
play-cell.initial-val   { background-color: @light_3; }
play-cell.block         { background-color: @dark_3; }
play-cell.focused       { background-color: @blue_1; }
play-cell.focused-block { background-color: @brown_3; }
play-cell.selected      { background-color: @yellow_2; }
play-cell.highlighted   { background-color: @orange_1; }
play-cell.highlighted-selected { background-color: @yellow_4; }
play-cell.error         { background-color: @red_3; }
play-cell.error label   { color: @light_2; }
play-cell.initial-val label.main { font-weight: bold; }

/* Edit Dialog */
window.edit gridview child:selected {
    background-color: @yellow_2;
}

window.edit gridview {
    background: transparent;
}
window.edit actionbar {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: @headerbar_bg_color;
}

window.autofill actionbar {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: @headerbar_bg_color;
}

window.autofill row button {
    opacity:0.0;
}

window.autofill row:hover button {
    opacity:1.0;
}
