

window.play cluelist list row:selected {
    background-color: @yellow_3;
    color: @dark_3;
}

window.play cluelist list row label.guessed#clue-label {
    color: @dark_2;
    text-decoration: line-through;
}

window.play cluelist list row label.guessed#num-label {
    color: @dark_2;
}

window.play cluelist list row clue-row.guessed-error label.guessed#clue-label {
    color: @red_4;
    text-decoration: line-through;
}

window.play cluelist list row clue-row.guessed-error label.guessed#num-label {
    color: @red_4;
}

/* Play Grid */
play-border            { color: @light_5; }
play-border.dark       { color: @dark_4; }
play-border.selected   { color: @yellow_5; }
play-border.highlighted{ color: @orange_3; }
play-border.initial-val{ color: @dark_1; }
play-border.focused    { color: @blue_5; }
play-cell.normal       { background-color: @light_3; }
play-cell.initial-val  { background-color: @light_5; }
play-cell.initial-val label { color: @dark_4; }
play-cell.block        { background-color: @dark_4; }
play-cell.selected     { background-color: @yellow_3; }
play-cell.focused      { background-color: @blue_2; }
play-cell.focused-block { background-color: @brown_4; }
play-cell.error        { background-color: @red_4; }
play-cell.highlighted   { background-color: @orange_2; }
play-cell.highlighted label   { color: @orange_5; }
play-cell.highlighted-selected { background-color: @yellow_4; }
play-cell.highlighted-selected label   { color: @orange_5; }

play-cell.error label  { color: @light_3; }


/* Edit Dialog */

window.edit flowboxchild:selected {
    background-color: @yellow_4;
}

